body {
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
}

nav {
    background-color: #171717;
    flex-basis: 20%;
    color: white;
}

.body {
    background-color: yellowgreen;
    flex-basis: 80%;
}

nav ul {
    list-style: none;
    padding-top: 1rem;
    padding-left: 0;
}


nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: .8rem;
}

nav ul li a:hover {
    background-color:  rgb(48, 48, 48);
    color: white;
}

.logo {
    padding: 1.5rem;
}

.logo img {
    width: 8.5rem;
}

header {
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header input {
    max-width: 20rem;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar div {
    display: flex;
    flex-direction: column;
}

.avatar div em {
    font-style: normal;
}

.avatar div span {
    font-size: .8rem;
}

.header__right {
    display: flex;
    align-items: center;
}

.active_menu_item {
    background-color:  rgb(48, 48, 48);
}

.main_body {
    background-color: #EFF1F7;
    min-height: calc(100% - 80px);
    padding: 20px;
}

.page_header {
    display: flex;
    justify-content: space-between;
}

.page_header h1{
    font-size: 1.5rem;
}

.page_header div {
    display: flex;
    align-items: center;
}

.page_header button {
    font-size: .8rem;
    width: 220px;
    margin-left: 10px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
}

.home_data {
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home_data i {
    color: #16BBE5;
    font-size: 50px;
}

.home_data em {
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}

.home_data span {
    font-size: 15px;
    color: #878787;
}

.card-v {
    background-color: white
}

.login_wrapper {
    background-color: #EFF1F7;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log_in {
    max-width: 500px;
    min-width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.log_in img {
    height: 30px;
}

.log_in em {
    font-style: normal;
    font-size: 12px;
    margin-top: 10px;
    color: #878787;
}

.reset-prompt {
    font-size: 14px;
}
.reset-prompt a {
    text-decoration: none;
    color: #EE5354;
}